* {
  box-sizing: border-box;
}

.frame {
  position: relative;
  width: 234px;
  height: 68px;

  .image8 {
    position: absolute;
    top: 0;
    left: 0;
    width: 121px;
    height: 68px;
  }

  .image9 {
    position: absolute;
    top: 0;
    left: 113px;
    width: 121px;
    height: 68px;
  }
}
