* {
  box-sizing: border-box;
}

.frame2 {
  display: flex;
  position: relative;
  align-items: flex-start;
  padding: 329px 529px 309px 718px;
  width: 1920px;
  height: 1080px;
  overflow: hidden;

  .autoWrapper5 {
    position: absolute;
    top: -18px;
    left: -227px;
    width: 2754px;
    height: 1199px;

    .frame {
      position: absolute;
      top: 18px;
      left: 0;
      width: 2754px;
      height: 1181px;
      background-image: url(../image/mo5tp5m4-04qnlnn.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      .rectangle23 {
        display: flex;
        position: absolute;
        top: 276px;
        left: 227px;
        align-items: flex-start;
        padding: 162px 455px 149px 228px;
        width: 1920px;
        height: 804px;
        background-image: linear-gradient(
          0deg,
          #006dc099 60.86%,
          #00aeff33 100%
        );

        .jimeng2026041988274 {
          margin-top: 216px;
          width: 211px;
          height: 159px;
        }

        .autoWrapper {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;

          .jimeng2026041988272 {
            margin-left: 45px;
            width: 211px;
            height: 117px;
          }
        }

        .rectangle {
          margin-top: 294px;
          margin-left: 157px;
          width: 192px;
          height: 80px;
        }

        .jimeng2026041997781 {
          margin-top: 195px;
          margin-left: 93px;
          width: 299px;
          height: 72px;
        }

        .autoWrapper2 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
          margin-top: 38px;
          margin-left: 29px;

          .rectangle2 {
            width: 192px;
            height: 80px;
          }
        }
      }

      .group16 {
        position: absolute;
        top: 144px;
        left: 1006px;
        width: 391px;
        height: 167px;

        .rectangle3 {
          position: absolute;
          top: -1px;
          left: -1px;
          width: 391px;
          height: 167px;
          rotate: -180deg;
        }

        .rectangle4 {
          position: absolute;
          top: 56px;
          left: 160px;
          width: 54px;
          height: 20px;
        }
      }
    }

    .rectangle30 {
      display: flex;
      position: absolute;
      top: 11px;
      left: 227px;
      align-items: flex-start;
      background: #222222;
      padding: 10px 870px 2px;
      width: 1920px;
      height: 59px;

      .group26 {
        width: 180px;
        height: 47px;
      }
    }

    .vector15 {
      position: absolute;
      top: 0;
      left: 1842px;
      width: 492px;
      height: 208px;
      rotate: -180deg;
    }

    .a1000 {
      position: absolute;
      top: 54px;
      left: 1901px;
      width: 207px;
      height: 49px;
      line-height: 49px;
      letter-spacing: -3.89px;
      color: #edea74;
      font-family: "HYQiHeiY3", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 78px;
    }

    .vector14 {
      display: flex;
      position: absolute;
      top: 10px;
      left: 217px;
      flex-direction: column;
      align-items: flex-start;
      padding: 30px 52px 12px 42px;
      width: 298px;
      height: 113px;
      background-image: url(../image/mo5tp5m3-b6yii54.svg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      .rectangle26 {
        width: 134px;
        height: 31px;
      }

      .hP {
        margin: 4px 0px 0px;
        line-height: 21px;
        letter-spacing: -1.63px;
        color: #b7b7b7;
        font-family: "HYQiHeiY3", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 33px;
      }

      .autoWrapper3 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        justify-content: space-between;
        padding-right: 0;
        padding-left: 18px;
      }

      .autoWrapper4 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        justify-content: space-between;
        margin-top: 9px;
        padding-right: 11px;
        padding-left: 0;
      }
    }
  }

  .autoWrapper6 {
    display: flex;
    position: relative;
    align-items: flex-start;
    align-self: stretch;

    .rectangle5 {
      margin-top: 280px;
      width: 60px;
      height: 61px;
      rotate: 90deg;
    }

    .rectangle6 {
      margin-left: 158px;
      width: 60px;
      height: 61px;
      rotate: 90deg;
    }

    .rectangle7 {
      margin-top: 382px;
      margin-left: 334px;
      width: 60px;
      height: 61px;
      rotate: 90deg;
    }
  }
}
