* {
  box-sizing: border-box;
}

.rectangle32 {
  border: 1px solid #000000;
  width: 1920px;
  height: 259px;
  background-image: url(../image/mo5un1d9-d8v0jcm.png);
  background-position: -28px -56px;
  background-size: 112.12% 160.72%;
  background-repeat: no-repeat;
}
