* {
  box-sizing: border-box;
}

.rectangle32 {
  border: 1px solid #000000;
  width: 1920px;
  height: 416px;
  background-image: url(../image/mo8kchxt-1v6wdy8.png);
  background-position: -28px -1px;
  background-size: 112.12% 100.06%;
  background-repeat: no-repeat;
}
