* {
  box-sizing: border-box;
}

.frame {
  position: relative;
  width: 596px;
  height: 556px;
  overflow: hidden;

  .group14 {
    display: flex;
    position: absolute;
    top: -2px;
    left: 1px;
    flex-direction: column;
    align-items: flex-start;
    padding: 221px 61px 108px 292px;
    width: 518px;
    height: 552px;

    .autoWrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 518px;
      height: 552px;

      .ellipse5 {
        margin-left: -17px;
        border-radius: 50%;
        background: #d9d9d9;
        width: 17px;
        height: 17px;
      }

      .ellipse4 {
        border-radius: 50%;
        background: #d9d9d9;
        width: 17px;
        height: 17px;
      }

      .union {
        position: absolute;
        top: 65px;
        left: 299px;
        width: 157px;
        height: 157px;
        rotate: 1deg;
      }

      .rectangle8 {
        position: absolute;
        top: 0;
        left: 34px;
        width: 457px;
        height: 552px;
      }

      .rectangle7 {
        position: absolute;
        top: 142px;
        left: 0;
        width: 481px;
        height: 153px;
        background-image: url(../image/mo5rajpd-wnudbcd.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        .text {
          position: absolute;
          top: 52px;
          left: 57px;
          width: 98px;
          height: 49px;
          line-height: 49px;
          letter-spacing: 0;
          color: #222222;
          font-family: "Douyin Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
          font-weight: 700;
        }

        .text2 {
          position: absolute;
          top: 88px;
          left: 57px;
          width: 134px;
          height: 30px;
          line-height: 30px;
          letter-spacing: 0;
          color: #a3a3a3;
          font-family: "Douyin Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 15px;
          font-weight: 700;
        }
      }

      .rectangle9 {
        position: absolute;
        top: 275px;
        left: 33px;
        width: 485px;
        height: 140px;
        background-image: url(../image/mo5rajpd-kpe0t71.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        .text3 {
          position: absolute;
          top: 23px;
          left: 80px;
          width: 98px;
          height: 49px;
          line-height: 49px;
          letter-spacing: 0;
          color: #222222;
          font-family: "Douyin Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
          font-weight: 700;
        }

        .text4 {
          position: absolute;
          top: 60px;
          left: 80px;
          width: 151px;
          height: 30px;
          line-height: 30px;
          letter-spacing: 0;
          color: #a3a3a3;
          font-family: "Douyin Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 15px;
          font-weight: 700;
        }
      }

      .rectangle10 {
        position: absolute;
        top: 376px;
        left: 86px;
        width: 416px;
        height: 133px;
        background-image: url(../image/mo5rajpd-87u5k0i.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        .text5 {
          position: absolute;
          top: 24px;
          left: 44px;
          width: 74px;
          height: 49px;
          line-height: 49px;
          letter-spacing: 0;
          color: #222222;
          font-family: "Douyin Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
          font-weight: 700;
        }

        .text6 {
          position: absolute;
          top: 60px;
          left: 44px;
          width: 166px;
          height: 30px;
          line-height: 30px;
          letter-spacing: 0;
          color: #a3a3a3;
          font-family: "Douyin Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 15px;
          font-weight: 700;
        }
      }

      .group2 {
        display: flex;
        position: absolute;
        top: 233px;
        left: 338px;
        align-items: center;
        justify-content: space-between;
        padding: 0px 22px 1px 20px;
        width: 59px;
        height: 17px;
        rotate: 4deg;
      }

      .group8 {
        display: flex;
        position: absolute;
        top: 310px;
        left: 352px;
        align-items: center;
        padding: 0px 22px 1px 20px;
        width: 59px;
        height: 17px;
        rotate: -5deg;
      }

      .group11 {
        display: flex;
        position: absolute;
        top: 413px;
        left: 357px;
        align-items: center;
        padding: 0px 11px 1px 10px;
        width: 38px;
        height: 17px;
        rotate: -6deg;
      }

      .text9 {
        position: absolute;
        top: 83px;
        left: 139px;
        width: 265px;
        height: 70px;
        line-height: 70px;
        letter-spacing: 0;
        color: #000000;
        font-family: "Douyin Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 35px;
        font-weight: 700;
        rotate: 11deg;

        .text7 {
          letter-spacing: 0;
          color: #ffffff;
          font-family: "Douyin Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 35px;
          font-weight: 700;
        }

        .text8 {
          letter-spacing: 0;
          color: #d9fa05;
          font-family: "Douyin Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 35px;
          font-weight: 700;
        }
      }
    }

    .autoWrapper5 {
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      padding-right: 0;
      padding-left: 0;

      .autoWrapper2 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        padding-right: 14px;
        padding-left: 0;

        .group6 {
          width: 34px;
          height: 34px;
          rotate: 4deg;
        }

        .group7 {
          margin-top: 7px;
          margin-left: 83px;
          width: 34px;
          height: 34px;
          rotate: 4deg;
        }
      }

      .autoWrapper3 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 34px;
        padding-right: 0;
        padding-left: 14px;

        .group10 {
          margin-top: 10px;
          width: 34px;
          height: 34px;
          rotate: -5deg;
        }

        .group9 {
          margin-left: 83px;
          width: 34px;
          height: 34px;
          rotate: -5deg;
        }
      }

      .autoWrapper4 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 54px;
        padding-right: 14px;
        padding-left: 20px;

        .group13 {
          margin-top: 15px;
          width: 34px;
          height: 34px;
          rotate: -6deg;
        }

        .group12 {
          margin-left: 63px;
          width: 34px;
          height: 34px;
          rotate: -6deg;
        }
      }
    }
  }

  .skIllcongiguration {
    position: absolute;
    top: 136px;
    left: 135px;
    width: 282px;
    height: 20px;
    line-height: 20px;
    letter-spacing: 0;
    color: #747474;
    font-family: "HYQiHeiY3", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 22px;
    rotate: 11deg;
  }
}
